{# src/TimeProjectBundle/Resources/views/Default/index.html.twig #}
{% extends 'TimeProjectBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <div id="wrapper">

        {% include 'TimeProjectBundle:Default:nav-menu.html.twig' %}

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <section>
                    <h2>Changement mot de passe</h2>

                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password'}}) }}
                    <br>
                    {{ form_errors(form.current_password) }}
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.second) }}
                    <div class="row uniform" id="fos_user_change_password">
                        <div class="12u$">
                            <label for="fos_user_change_password_form_current_password" class="required"></label>
                            {{ form_widget(form.current_password, {
                                'attr': {'class': "span12",
                                    'placeholder': "Mot de passe actuel"} })
                            }}
                        </div>
                        <div class="12u$">
                            <label for="fos_user_change_password_form_plainPassword_first" class="required"></label>
                            {{ form_widget(form.plainPassword.first, {
                                'attr': {'class': "span12",
                                    'placeholder': "Nouveau mot de passe"} })
                            }}
                        </div>
                        <div class="12u$">
                            <label for="fos_user_change_password_form_plainPassword_second" class="required"></label>
                            {{ form_widget(form.plainPassword.second, {
                                'attr': {'class': "span12",
                                    'placeholder': "Confirmez le mot de passe"} })
                            }}
                        </div>
                    </div>
                    <br/>
                    <div class="12u$(medium)">
                        <ul class="actions">
                            <li><input type="submit" value="Modifier" class="special" /></li>
                        </ul>
                    </div>
                    {{ form_end(form) }}

                </section>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}