{# src/TimeProjectBundle/Resources/views/Default/index.html.twig #}
{% extends 'TimeProjectBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <div id="wrapper">

        {% include 'TimeProjectBundle:Default:nav-menu.html.twig' %}

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1>Projet de {{ app.user.username }}</h1>
                </header>

                <section class="tiles">
                    {% if missions|length == 0 %}
                    <article class="style1">
									<span class="image">
										<img src="{{ asset('bundles/images/img01.jpg') }}" alt="" />
									</span>
                        <a href="{{ path('project_calendar', { 'project_id': 1 }) }}">
                            <h2><img src="{{ asset('bundles/images/iconePlus2.png') }}" alt="" /></h2>
                            <div class="content">
                                <p>Créer un Nouveau Projet</p>
                            </div>
                        </a>
                    </article>
                    {% else %} {% endif %}

                </section>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
