{# src/TimeProjectBundle/Resources/views/Default/login.html.twig #}
{% extends 'TimeProjectBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/home.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/custumhome.css') }}" />
{% endblock %}


{% block body %}

    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="index.html" class="logo">
                    <span class="symbol"><img src="{{ asset('bundles/images/logo_home.svg') }}" alt="" /></span>
                    <span class="title">TimeProject </span>
                </a>
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>

                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Ipsum veroeros</a></li>
                <li><a href="#">Tempus etiam</a></li>
                <li><a href="#">Consequat dolor</a></li>
                <li><a href="elements.html">Elements</a></li>
                <br>
                <form action="{{ path('logout') }}" method="get">
                    <il class="actions">
                        <input type="submit" value="Déconnexion" class="special" />
                    </il>
                </form>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1>Projet de {{ app.user.username }}</h1>
                </header>
                {% if missions|length == 0 %}
                     <p>créate mission</p>
                {% else %}

                <section class="tiles">
                    <article class="style1">
									<span class="image">
										<img src="{{ asset('bundles/images/img01.jpg') }}" alt="" />
									</span>
                        <a href="generic.html">
                            <h2><img src="{{ asset('bundles/images/iconePlus2.png') }}" alt="" /></h2>
                            <div class="content">
                                <p>Créer un Nouveau Projet</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
									<span class="image">
										<img src="{{ asset('bundles/images/img02.jpg') }}" alt="" />
									</span>
                        <a href="#">
                            <h2>Lorem</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
									<span class="image">
										<img src="{{ asset('bundles/images/img03.jpg') }}" alt="" />
									</span>
                        <a href="#">
                            <h2>Feugiat</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style4">
									<span class="image">
										<img src="{{ asset('bundles/images/img04.jpg') }}" alt="" />
									</span>
                        <a href="#">
                            <h2>Tempus</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style5">
									<span class="image">
										<img src="{{ asset('bundles/images/img05.jpg') }}" alt="" />
									</span>
                        <a href="#">
                            <h2>Aliquam</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style6">
									<span class="image">
										<img src="{{ asset('bundles/images/img06.jpg') }}" alt="" />
									</span>
                        <a href="#">
                            <h2>Veroeros</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
									<span class="image">
										<img src="{{ asset('bundles/images/img07.jpg') }}" alt="" />
									</span>
                        <a href="#">
                            <h2>Ipsum</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
									<span class="image">
										<img src="{{ asset('bundles/images/img08.jpg') }}" alt="" />
									</span>
                        <a href="#">
                            <h2>Dolor</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style1">
									<span class="image">
										<img src="{{ asset('bundles/images/img09.jpg') }}" alt="" />
									</span>
                        <a href="#">
                            <h2>Nullam</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style5">
									<span class="image">
										<img src="{{ asset('bundles/images/img10.jpg') }}" alt="" />
									</span>
                        <a href="#">
                            <h2>Ultricies</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style6">
									<span class="image">
										<img src="{{ asset('bundles/images/img11.jpg') }}" alt="" />
									</span>
                        <a href="#">
                            <h2>Dictum</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style4">
									<span class="image">
										<img src="{{ asset('bundles/images/img12.jpg') }}" alt="" />
									</span>
                        <a href="#">
                            <h2>Pretium</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                </section>
            </div>
            {% endif %}
        </div>


        <footer id="footer">
        </footer>

    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/skel.min.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/util.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/home.js') }}"></script>


{% endblock %}
