{# src/TimeProjectBundle/Resources/views/Default/login.html.twig #}
{% extends 'TimeProjectBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Login {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/login.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/custumlogin.css') }}" />
{% endblock %}


{% block body %}
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <span class="logo"><img src="{{ asset('bundles/images/Global_Engineering2.gif') }}" alt="" /></span>
            <h1>Global Engineering</h1>
            <div id="conect">
                {# S'il y a une erreur, on l'affiche dans un joli cadre #}
                {#{% if error %}#}
                    {#<div class="alert alert-danger">{{ error.message }}</div>#}
                {#{% endif %}#}

                <form action="{{ path('login_check') }}" method="post">
                {#<form action="{{ path('fos_user_security_check') }}" method="post">#}
                    <div class="row uniform">
                        <div class="12u$">
                            <input type="email" name="_username" id="username" value="{{ last_username }}" placeholder="Email" />
                        </div>
                        <div class="12u$">
                            <input type="password" name="_password" id="password" value="" placeholder="Mot de passe"/>
                        </div>
                        <div class="6u 12u$(medium)" id="buttonc">
                            <ul class="actions">
                                <li><input type="submit" value="Connexion" class="special" /></li>
                                {#<li><a href="{{ path('fos_user_registration_register') }}" class="button">Inscription</a></li>#}
                                {#<li><a href="{{ path('fos_user_registration_register') }}" class="button">Inscription</a></li>#}
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </header>

    </div>

{% endblock %}

{% block javascripts %}
    <!-- Scripts -->
    {{ parent() }}
    <script src="{{ asset('bundles/assets/js/main.js') }}"></script>

{% endblock %}
