{# src/TimeProjectBundle/Resources/views/Default/nav-menu.html.twig #}

<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="{{ path('time_project_homepage') }}" class="logo">
            <span class="symbol"><img src="{{ asset('bundles/images/logo_home.svg') }}" alt="" /></span>
            <span class="title">TimeProject </span>
        </a>
        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <br/>
    <ul>
        <li><a style="text-decoration: none" href="{{ path('time_project_homepage') }}">Accueil</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a style="text-decoration: none" href="{{ path('create_user') }}">Gestion des utilisateurs</a></li>
        {% endif %}
        <br>
        <form action="{{ path('logout') }}" method="get">
            <li class="actions">
                <input type="submit" value="Déconnexion" class="special" />
            </li>
        </form>
    </ul>
</nav>