{# src/TimeProjectBundle/Resources/views/Default/project-calendar.html.twig #}
{% extends 'TimeProjectBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/assets/css/fullcalendar/fullcalendar.css') }}"/>
{% endblock %}


{% block body %}

    <div id="wrapper">

        {% include 'TimeProjectBundle:Default:nav-menu.html.twig' %}

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1>Projet de {{ app.user.username }}</h1>
                </header>

                <div id='calendar'></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="{{ asset('bundles/assets/js/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ asset('bundles/assets/js/fullcalendar/fullcalendar.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ asset('bundles/assets/js/fullcalendar/locale-all.js') }}"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                locale: 'fr'
                // put your options and callbacks here
            })

        });
    </script>
{% endblock %}
